/* General Page Styling */

html {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: Arial, sans-serif;
    background-color: #eceff1;
    color: #333;
    margin: 0px;
    padding: 0px;
}


/* Container for the Exam */
.exam-container {
    width: 80%;
    margin: 1rem auto;
    background-color: #fff;
    padding: 1em;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Styling for each question */
.question {
    margin-bottom: 1.5em;
}

/* Styling for question numbers */
.question-number {
    font-size: 1.2em;
    font-weight: bold;
    color: #0056b3;
}

/* Styling for the question text */
.question p {
    font-size: 1.1em;
    margin: 0.5em 0;
    font-weight: normal;
}

/* Styling for the answer block */
.answer {
    padding: 0.5em;
    background-color: #f9f9f9;
    border-left: 4px solid #4CAF50;
    margin-top: 0.5em;
}

ul {
    margin: 2px;
    padding-left: 1rem;
}

/* Styling for menubar */
.menu {
    display: flex;
    background-color: #0056b3;
    justify-content: space-around;
}

.home h2 {
    padding: 0.5rem;
    margin: 5px;
    color: white;
    border: solid 1px white;
    font-size: 1.25rem;
}

.home a {
    text-decoration: none;
    color: black;
    width: 100%;
    height: 100%;
}